@import "tailwindcss";

:root {
  --background-page: #f8fafc;
  --primary: #023048;
  --secondary: #ffb702;
  --muted: #6b7280;
  --action: #229ebd;
}

@theme inline {
  --font-sans: var(--font-nunito), var(--font-inter), var(--font-roboto),
    sans-serif;
  --background-page: var(--background-page);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-action: var(--action);
}

body {
  background-color: var(--background-page);
}
